<section
  class="p-2.5 flex flex-col items-center"
  [ngClass]="{ login: mode() === 'LOGIN', signup: mode() === 'SIGNUP' }"
>
  <i
    class="pi pi-times cursor-pointer absolute right-2 top-2 text-base"
    (click)="close()"
  ></i>

  @if (mode() === "LOGIN") {
    <h1 class="montserrat-bold text-center text-base mt-2">Welcome back!</h1>
    <p class="text-center text-sm w-4/5 lato-regular">
      Enter your email and password to access your account.
    </p>

    <form
      class="flex flex-col items-center gap-5 mt-5 w-10/12 auth-form"
      [formGroup]="loginForm"
    >
      <div class="flex flex-col gap-2 w-full">
        <label class="montserrat-regular text-sm mandatory-fill"
          >Username or Email</label
        >
        <div>
          <input
            type="text"
            placeholder="Enter your username or email"
            aria-labelledby="Login Id"
            pAutoFocus
            [autofocus]="true"
            pInputText
            formControlName="id"
          />
          @if (
            loginForm.dirty &&
            loginForm.controls["id"].touched &&
            !loginForm.controls["id"].value
          ) {
            <small class="text-red-700">
              Please enter a valid username or email.
            </small>
          }
        </div>
      </div>
      <div class="flex flex-col gap-2 w-full text-sm">
        <label class="montserrat-regular mandatory-fill">Password</label>
        <p-password
          placeholder="Enter your password"
          aria-labelledby="Password"
          [toggleMask]="true"
          [feedback]="false"
          formControlName="password"
          (keyup.enter)="handleUserLogin()"
        />
      </div>

      <p-button
        [label]="isLoading() ? 'Submitting...' : 'Submit'"
        class="w-full h-10 rounded flex items-center justify-center bg-cyan-700 text-white montserrat-bold"
        (onClick)="isLoading() ? null : handleUserLogin()"
      />
    </form>

    <p class="montserrat-bold mt-3 mb-2 text-sm">Forgot Password?</p>
    <p class="text-sm lato-regular mb-2">
      Don't have an account?
      <a class="montserrat-bold" (click)="changeMode('SIGNUP')">Sign up</a>
    </p>
  } @else {
    <h1 class="montserrat-bold text-center text-base mt-2">
      Welcome to <i class="text-cyan-700">ShareSphere</i>
    </h1>

    <form
      class="flex flex-col items-center gap-3 mt-5 w-10/12 auth-form"
      [formGroup]="registerForm"
    >
      <div class="flex flex-col gap-1 w-full">
        <label class="montserrat-regular text-sm mandatory-fill">Name</label>
        <input
          type="text"
          placeholder="Enter your name"
          aria-labelledby="Name"
          pAutoFocus
          [autofocus]="true"
          pInputText
          formControlName="name"
        />
      </div>
      <div class="flex flex-col gap-1 w-full">
        <label class="montserrat-regular text-sm mandatory-fill"
          >Username</label
        >
        <input
          type="text"
          placeholder="Enter a username"
          aria-labelledby="Username"
          pInputText
          formControlName="username"
        />
      </div>
      <div class="flex flex-col gap-1 w-full">
        <label class="montserrat-regular text-sm mandatory-fill">Email</label>
        <input
          type="email"
          placeholder="Enter your email"
          aria-labelledby="Email"
          [pKeyFilter]="blockSpace"
          pInputText
          formControlName="email"
        />
        @if (
          registerForm.controls["email"].dirty &&
          registerForm.controls["email"].touched &&
          registerForm.controls["email"].invalid
        ) {
          <small class="text-red-700"> Please enter a valid email. </small>
        }
      </div>
      <div class="flex flex-col gap-1 w-full text-sm">
        <label class="montserrat-regular mandatory-fill">Password</label>
        <p-password
          placeholder="Enter your password"
          aria-labelledby="Password"
          [toggleMask]="true"
          formControlName="password"
          #passwordInput
        />
        @if (passwordInput.meter?.strength !== "strong") {
          <small> Choose a strong password. </small>
        }
      </div>

      <p-button
        [label]="isLoading() ? 'Submitting...' : 'Submit'"
        aria-labelledby="Submit"
        class="w-full h-10 rounded flex items-center justify-center bg-cyan-700 text-white montserrat-bold"
        [disabled]="
          !registerForm.valid || passwordInput.meter?.strength !== 'strong'
        "
        (onClick)="isLoading() ? null : handleUserRegistration()"
      />
    </form>

    <p class="text-sm lato-regular mt-3 mb-2">
      Already have an account?
      <a class="montserrat-bold" (click)="changeMode('LOGIN')">Sign In</a>
    </p>
  }
</section>
