<header class="flex justify-between items-center py-2 px-3">
  <span class="text-white flex items-center gap-x-1">
    <img
      class="size-8"
      src="../../../../assets/images/share-sphere.svg"
      alt="Share Sphere"
    />
    <i class="text-white montserrat-bold">ShareSphere</i>
  </span>
  @if (!searchbarOpened()) {
    <p-button
      class="pi pi-search font-bold text-white"
      (click)="toggleSearchbar()"
    ></p-button>
  }

  @if (searchbarOpened()) {
    <div class="absolute left-0 top-0 w-full p-3 home-search">
      <p-autoComplete
        pAutoFocus
        [autofocus]="true"
        class="rounded text-sm"
        placeholder="Search posts, people"
        (onBlur)="toggleSearchbar()"
      />
    </div>
  }
</header>
