<header
  class="flex justify-between items-center py-2 px-3 sticky top-0 z-10"
  id="header"
>
  <span class="text-white flex items-center gap-x-1">
    <img
      class="size-8"
      src="../../../../assets/images/share-sphere.svg"
      alt="Share Sphere"
    />
    <i class="text-white montserrat-bold">ShareSphere</i>
  </span>
  @if (!searchbarOpened()) {
    <p-button
      icon="pi pi-search text-white"
      [rounded]="true"
      severity="info"
      (onClick)="toggleSearchbar()"
    />
  }

  @if (searchbarOpened()) {
    <div class="absolute left-0 top-0 w-full p-3 home-search">
      <p-autoComplete
        pAutoFocus
        [autofocus]="true"
        class="rounded text-sm"
        placeholder="Search posts, people"
        (onBlur)="toggleSearchbar()"
        [showClear]="true"
      />
    </div>
  }
</header>
<main id="posts" class="flex flex-col gap-4 pb-4 pt-2">
  @for (item of [1, 2, 3]; track $index) {
    <sp-post></sp-post>
  }
</main>
