<section>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer
    class="sticky bottom-0 w-full p-2.5 h[45px] grid grid-cols-5 gap-4 shadow-lg border border-gray-300 rounded"
  >
    @for (item of features; track item.value) {
      <div class="text-center relative">
        <span
          class="{{ 'rounded-full feature-button ' + item.icon }}"
          [ngClass]="
            selectedFeature() === item.value
              ? 'text-white p-3 absolute bottom-0 left-2.5 drop-shadow-lg active'
              : ''
          "
          (click)="moveToFeature(item)"
        ></span>
      </div>
    }
  </footer>
</section>
